body {
    padding: 0;
    margin: 0;
    background-color: gray;
    font-family: sans-serif;
}


p{
    font-size: 1.2rem;
}

h1{
    font-size: 1.2rem;
    color: red;
}

h3{
    font-size: 1.2rem;
    
}